name: Build Android New APK
on:
  workflow_dispatch: # Allows manual trigger
  push:
    branches: [ main ] # Builds on every update

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install flet
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.22.0

      - name: Build APK
        run: flet build apk --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: label-app-release
          path: build/apk/app-release.apk
